.shown {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 50, 50, .3);

  display: flex;
  position: fixed;
  z-index: 100;
}

.shown img {
  width: 5em;
  margin: auto;
  margin-top: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin-spin infinite 1.1s linear;
  }
}

@keyframes spin-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
